 /* Reset mặc định */
 * {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #141e30, #243b55);
  color: #fff;
  margin: auto;
}

/* login bao gồm cả hai phần */
.login {
  display: flex;
  flex-direction: row-reverse;
  width: 90%;
  /* max-width: 1200px; */
  min-height: 80%;
  background: #27292a;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  /* margin: 90px 0 0 0; */
  margin: auto;
  margin-top: 90px;
}

.login > div {
  flex: 1;
  padding: 20px;
  overflow: auto; /* Đảm bảo cuộn nếu nội dung quá dài */
}

/* Login Box */
.login-box {
  text-align: center;
}

.login-box h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color:#e75e8d;
}
.p_security-code{
      margin:-40px 0 20px 60px; 
      font-size: 0.9rem; 
      text-align: left; 
      color: red;
}

.user-box {
  position: relative;
  margin: 20px 60px;
}

.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.user-box label {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: 0.5s;
  color: #fff;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.btn_a {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  border: 1px solid #03e9f4;
  transition: 0.5s;
}

.btn_a:hover {
  background: #03e9f4;
  color: #1c1c1c;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}

/* Info Box */
.info-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.info-box p {
  font-size: 1.2rem;
  line-height: 1.6;
}

/* Responsive Design */
@media (max-width: 768px) {
  .login {
      flex-direction: column-reverse; /* Xếp theo cột trên màn hình nhỏ */
  }

  .login > div {
      padding: 15px; /* Giảm padding để phù hợp với màn hình nhỏ */
  }

  .login-box h1 {
      font-size: 1.5rem; /* Giảm kích thước tiêu đề */
  }

  .info-box p {
      font-size: 1rem; /* Giảm kích thước chữ */
  }
  .user-box {
      margin: 20px 0;
  }
  .p_security-code{
      margin: -40px 0 20px 0;
  }
}